* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  //   background: #000;
  .phone-box {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    background: url(../images/bg.jpg);
    padding: 4px;
    width: 300px;
    height: 600px;
    border-radius: 40px;
    border: 7px solid rgb(0, 0, 0);
    .up {
      display: flex;
      .clock-date {
        display: flex;
        padding-left: 8px;
        padding-top: 8px;
        text-align: center;
        font-family: sans-serif;
        color: #fff;
        .date {
          display: none;
        }
        p {
          font-weight: 1200px;
          font-size: 14px;
        }
      }
      .camera-position {
        margin-left: 45px;
        margin-top: 5px;
        background: #000;
        width: 72px;
        height: 19px;
        border-radius: 50px;
      }
      //   .up-right {
      //     padding-left: 20px;
      //   }
      i:nth-child(4) {
        padding-left: 25px;
        padding-top: 8px;
        color: #f7f7f7;
        font-size: 14px;
      }
      i:nth-child(5) {
        padding-left: 4px;
        padding-top: 8px;
        color: #f7f7f7;
        font-size: 14px;
      }
      i:nth-child(6) {
        padding-left: 4px;

        padding-top: 7px;
        color: #f7f7f7;
        font-size: 19px;
      }
    }

    // .down {
    //   padding-top: 390px;
    //   padding-left: 30px;
    //   padding-right: 30px;
    //   display: flex;
    //   justify-content: space-between;
    //   p {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 36px;
    //     height: 36px;
    //     background: #414141;
    //     transition: 0.4s;
    //     border-radius: 50px;
    //     cursor: pointer;
    //     i {
    //       font-size: 20px;
    //       color: #fff;
    //     }
    //   }
    //   p:hover {
    //     background: #494949;
    //   }
    // }
    .line {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: #fff;
        list-style: none;
        padding-top: 15px;
        hr {
          color: #fff;
          background: #fff;
          width: 96px;
          height: 6px;
          border-radius: 12px;
        }
      }
    }
  }
}
